
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestDüzen.cshtml";
}


<!DOCTYPE HTML>
<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    
    
    <div class="content">
        <div class="wrap">
            <div class="about">
                <h3>Oteller</h3>
                <img src="images/dest_banner.jpg" alt="" />
            </div>
            <div class="grids">
                <div class="box1">
                    <div class="padding">
                        <h4>En iyi 10 Otel Bölgesel</h4>
                        <ul class="list list-pad">
                            <li class="list-bg"><span>1.</span><a href="#">İstanbul Hilton Otel</a></li>
                            <li class="list-bg1"><span>2.</span><a href="#">Fethiye Jiva Beach Resort</a></li>
                            <li class="list-bg"><span>3.</span><a href="#">Kapadokya Argos In Cappadocia</a></li>
                            <li class="list-bg1"><span>4.</span><a href="#">Çanakkale Grand Ece Otel</a></li>
                            <li class="list-bg"><span>5.</span><a href="#">Pamukkale Venus Suite Hotel</a></li>
                            <li class="list-bg1"><span>6.</span><a href="#">Trabzon Radisson Blu Hotel</a></li>
                            <li class="list-bg"><span>7.</span><a href="#">Urfa Nevali Hotel</a></li>
                            <li class="list-bg1"><span>8.</span><a href="#">Kapadokya Ariana Sustainable Luxury Lodge</a></li>
                            <li class="list-bg"><span>9.</span><a href="#">Bursa Akra Barut Hotel</a></li>
                            <li class="list-bg1"><span>10.</span><a href="#">İstanbul White House Hotel</a></li>
                        </ul>
                        <a href="#" class="link1">Tüm otelleri gör</a>
                    </div>
                    <div class="desti-middle">
                        <h4>Otel Yorumları</h4>
                        <div class="box-left">
                            <div class="bot-img">
                                <img src="~/web/images/hilton.jpg" alt="" />
                            </div>
                            <div class="bot-desc">
                                <p> İstanbul otellerinden Hilton İstanbul Bosphorus, dinlenmek ve zindelik kazanmak için çok uygun bir seçenek. </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="box-left">
                            <div class="bot-img">
                                <img src="~/web/images/argos.jpg" alt="" />
                            </div>
                            <div class="bot-desc">
                                <p>Balonlara en uygun bir lokasyon, manzara, ferah ve luks odalar, lezzetli yemekler, icecek, havuz, servis, guleryuzlu personeli. </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="box-left">
                            <div class="bot-img">
                                <img src="~/web/images/jiva.jpg" alt="" />
                            </div>
                            <div class="bot-desc">
                                <p>Tek kelimeyle mükemmel bir otel. Konum deniz manzara bunlar zaten görünen güzellikler asıl en önemli konu ise sizin tatilinizi özel kılan gözünüzün içine bakan muhteşem çalışanları </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="desti-right">
                        <h4>Populer Oteller</h4>
                        <p>Herkes Tarafından Önerilen Seyahat bitişinde gidilecek bölgesel en güzel Oteller listesi</p>
                        <h5> Adresleri İçin Üstlerine Tıklayın</h5>
                            <ul class="list1">
                                <li><a href="#">1.İstanbul Hilton Otel</a></li>
                                <li><a href="#">2.Kapadokya Argos In Cappadocia</a></li>
                                <li><a href="#">3.Trabzon Radisson Blu Hotel</a></li>
                                <li><a href="#">4.İstanbul Divan Otel</a></li>
                                <li><a href="#">5.Regie Ottoman İstanbul</a></li>
                                <li><a href="#">6.Bodrum Azka Otel</a></li>
                                <li><a href="#">7.İstanbul White House Hotel</a></li>
                                <li><a href="#">8.Kapadokya Ariana Sustainable Luxury Lodge</a></li>
                                <li><a href="#">9.Bursa Akra Barut Hotel</a></li>
                                <li><a href="#">10.Urfa Nevali Hotel</a></li>
                                <li><a href="#">11.Pamukkale Venus Suite Hotel</a></li>
                                <li><a href="#">12.Çanakkale Grand Ece Otel</a></li>
                                <li><a href="#">13.Fethiye Jiva Beach Resort</a></li>
                            </ul>
                       
                       

                       
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    
</body>
</html>


