<div class="form">
    <form class="cmxform" id="contactForm" method="post">
        <div>
            <input type="text" class="textbox" value="Ad Soyad:" name="AdSoyad" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ad Soyad:';}">
        </div>
        <div>
            <input type="text" class="textbox" value="Email:" name="Mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email:';}">
        </div>
        <div>
            <input type="text" class="textbox" value="Konu:" name="Konu" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Konu:';}">
        </div>
        <div>
            <textarea value="Message:" name="Mesaj" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mesaj';}">Mesaj:</textarea>
        </div>

        <div>
            <input type="submit" value="Gönder" />
        </div>
    </form>
</div>
<div class="contact-bottom">
    <div class="contact-left">
        <div class="contact-add">
            <h3>1.Adres</h3>
            <p> Dumlupınar Üniversitesi Mühendislik Fakültesi Bilgisayar Bölümü</p>
            <p>Telefon:+905322222222</p>
            <p>Fax:+905322222222</p>
            <p>E-mail:<a href="">info@Seyehatsitesi.com</a></p>
        </div>

    </div>

    <div class="clear"></div>
</div>

