@using OtelRezervasyon.Models.Sınıflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestDüzen.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <h3>En iyi ve uygun fiyata en güzel tatil planlama  </h3>
            <img src="~/web/images/turkiye.jpg" alt="" />
            @foreach (var x in Model)
            {
                <p>@x.Aciklama</p>
            }


        </div>
    </div>
</div>

